* {
  box-sizing: border-box;
}
@font-face{
  font-family: OstrichLight;
  src: url(ostrichsans-light.otf);
}
@font-face{
  font-family: OstrichBlack;
  src: url(ostrichsans-black.otf);
}
body{
  margin: 0;
  color: #fff;
  font-size: 3em;
  top: 0;
  left: 0;
  font-family: OstrichLight;
}
#nav{
  padding: .1em .4em;
  top: 0;
  left: 0;
  width: 100%;
  background: #5270B6;
}
.thick{
  font-family: OstrichBlack;
  font-size: .9em;
}
#menu{
  float: right;
  margin: 0;
}
#menu li{
  display: inline;
  margin-right: 1em;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  border-bottom: 5px solid white;
}
#info{
  background: #DEDDDD;
  padding: 0 .4em;
}
#info div{
  padding-top: 0px;
  padding-bottom: 0px;
}
#headers{
  background: #B2B3B3;
  font-size: .5em;
}
#headers div{
  display: inline;
}
.stock {
  color: #B2B3B3;
}
.username{
  display: block;
}
.parent div{
  float: left;
  display: inline;
}
.parent, .parent div div, .parent div button{
  font-size: .5em;
  display: block;
}
.image{
  float: left;
  width: 1.4em;
  height: 1.4em;
  border-radius: .7em;
  background: #B2B3B3;
}
#search form{
  height: 0.5em;
  position: relative;
  left: 0em;
  top: -0.6em;
}
#search input:focus, #search button:focus{
  outline: none;
}
#search input{
  width: 95%;
  border: none;
}
#search button{
  border: none;
  border-radius: 2px;

}