* {
  box-sizing: border-box;
}

/* import fonts */
@font-face{
  font-family: OstrichLight;
  src: url(ostrichsans-light.otf);
}
@font-face{
  font-family: OstrichBlack;
  src: url(ostrichsans-black.otf);
}
@font-face{
  font-family: OstrichMedium;
  src: url(ostrichsans-medium.otf);
}

/* body */
body{
  margin: 0;
  color: #fff;
  font-size: 3em;
  top: 0;
  left: 0;
  font-family: sans-serif;
}

/* navigation */
#nav{
  font-family: OstrichLight;
  z-index: 10;
  padding: .1em .4em;
  width: 100%;
  background: #5270B6;
}
#menu{
  float: right;
  margin: 0;
}
#menu li{
  display: inline;
  margin-right: 1em;
}
.thick{
  font-family: OstrichBlack;
  font-size: .9em;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  border-bottom: 5px solid white;
}
#info{
  background: #DEDDDD;
  padding: 0 .4em;
}
#info div{
  padding-top: 0px;
  padding-bottom: 0px;
}
#dashheaders{
  background: #B2B3B3;
  font-size: .5em;
}
#searchheaders{
  background: #B2B3B3;
  font-size: .5em;
}
#dashheaders div{
  vertical-align: middle;
  padding: .1em .4em;
  float: left;
  background: #B2B3B3;
}
#searchheaders div{
  margin-top: 0;
  width: 25%;
  padding: .1em .4em;
  float: left;
  background: #B2B3B3;
}
.stock{
  width: 100%;
}
.left{
  float: left;
}
.rightfloat{
  float: right;
}
.dashboard{
  width: 100%;
}
.parent div{
  padding: .2em;
  float: left;
  display: inline;
}
.parent{
  clear: both;
  font-size: .5em;
  display: block;
}
.center{
  margin-top: .5em;
  text-align: center;
}
#search {
  padding: .25em;
  line-height: 0em;
}
input{
  font-size: OstrichLight;
}
*:focus{
  outline: none;
}
#search input{
  width: 90%;
  border: 1px solid #B2B3B3;
  border-radius: 0em .5em .5em 0em;
  padding: 1em;
}
#search button{
  color: #fff;
  border: solid 1px #B2B3B3;
  border-radius: .5em 0em 0em .5em;
  padding: 1em 2em;
  margin-right: -10px;
}
.buy input{
  width: 80%;
  border: 1px solid #B2B3B3;
  border-radius: 0em .5em .5em 0em;
  padding: .5em;
}
.buy button{
  color: #fff;
  border: solid 1px #B2B3B3;
  border-radius: .5em 0em 0em .5em;
  padding: .5em 1em;
  margin-right: -5px;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.center div{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.handle{
  clear: both;
  font-size: .8em
}
.sell{
  color: #fff;
  border: solid 1px #B2B3B3;
  border-radius: .5em;
  padding: .5em 1em;
  margin-right: -5px;
}
.gray{
  color: #B2B3B3;
}
.green{
  color: green;
}
.red{
  color: red;
}
#pieChart{
  float: right;
  width: 40%;
}
.tenpercent{
  width: 10% !important; 
}
.fifteenpercent{
  width: 15% !important; 
}
.twentyfivepercent{
  width: 25% !important; 
}
.thirtypercent{
  width: 30% !important; 
}
#stockdata{
  width: 60%;
  float: left;
}

/* login page */
#login{
  font-family: OstrichLight;
  background: #5270B6;
}
.large{
  font-size: 3em;
}